#title{
    margin:0;
    margin-left:50px;
    font-family: GrapeSoda;
    color:white;
    font-size:80px;
    text-align:left;
    filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px 1px 0 black) drop-shadow(0 -1px 0 black) drop-shadow(1px 0 black);
}

h2{
    margin: 0;
    font-size: 1.2em;
}

#emptyMessage {
    display: none;
    font-style: italic;
    color: #888;
  }

.entry {
    border: 1px solid black;
    padding:10px;
    text-align: left;
    display: none;
  }

  .entry:not(:last-of-type){
    margin-bottom: 10px;
  }

  .entry p:last-of-type{
    margin-top: 10px;
  }

   a{
    color:#06c;
  }

  a:hover{
    color:#39f;
  }

  .entry a::after{
    font-family: DotGothic16;
    font-size: .9rem;
    content: '→'; 
    margin-left: 0.25rem;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }


  .entry a:hover::after{
    transform: translateX(0.25rem); 
  }

  #back{
    text-align: left;
  }
  #back a::before{
    font-family: DotGothic16;
    font-size: .9rem;
    content: '←'; 
    margin-right: 0.25rem;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }

  #back a:hover::before{
    transform: translateX(-0.25rem); 
  }

  .tags{
    display: flex;
    gap:5px
  }

  .tags button{
    border:1px solid #666;
    color: #666;
    border-radius: 5px;
    font-family: basiic;
    padding: 5px;
  }

  .tags button:hover{
    border:1px solid black;
    color: white;
    background-color: #666;
  }

  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  /* Style the buttons */
  .btn {
    border: 1px solid black;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }